*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color:bisque;
}
.nav {
    background:peru;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover{
    color: orange;
}
.hero{
    background:url(../assets/hero.avif);
    background-size: cover;
    height: 450px;
    justify-content: center;
    text-align: center;
    color: black;
    position:relative;
}
.hero a{
    color: black;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: coral;
    color: black;
    margin-top: 20px;
}
.btn:hover{
    background-color:darkorange;
    color:darkblue;
}
.intro{
    text-align: center;
    justify-content: center;
    font-size: large;
}
.intro h2{
    font-size: 60px;
    color: brown;
}
.Rooms{
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}
.Rooms h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-decoration: underline;
}
.room-type{
    margin: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(127,127,127);
    transition: transform 0.5s ease;
}
.room-type h3{
    font-size: 20px;
}
.room-type a{
    color: darkblue;
    padding: 5px;
}
.room-type img{
    border: 2px ridge black;
}
.room-type:hover{
    transform: scale(1.05)
}
.price{
    font-weight: 700;
    margin: 10px;
}
.about{
    margin-top: 20px;
}
.contact input, textarea{
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
footer{
    background-color: gray;
    padding: 10px;
    margin-top: 230px;
}

